<a href="https://colab.research.google.com/github/gargDhruv12/AI-Lab/blob/main/idfs_Robot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd

In [4]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=2bb5886665dbdb01f1f6fd2a48efeb1f&language=en-US&page=5")

In [5]:
pd.DataFrame(response.json()['results'])[['id','original_title','overview','release_date','popularity','vote_average']]

,id,original_title,overview,release_date,popularity,vote_average
0,8587,The Lion King,"Young lion prince Simba, eager to one day beco...",1994-06-15,16.5885,8.258
1,975,Paths of Glory,A commanding officer defends three scapegoats ...,1957-10-25,3.6802,8.256
2,10376,La leggenda del pianista sull'oceano,The story of a virtuoso piano player who lives...,1998-10-28,2.9756,8.255
3,670,올드보이,"With no clue how he came to be imprisoned, dru...",2003-11-21,14.2120,8.251
4,630566,Clouds,Young musician Zach Sobiech discovers his canc...,2020-10-09,2.3113,8.249
5,29259,Le Trou,Four prison inmates have been hatching a plan ...,1960-03-18,2.4831,8.247
6,568332,Taylor Swift: Reputation Stadium Tour,Taylor Swift takes the stage in Dallas for the...,2018-12-31,1.2586,8.200
7,654299,Como caído del cielo,"Returning to Earth as an imitator, the legenda...",2019-12-24,1.1033,8.200
8,504253,君の膵臓をたべたい,After his classmate and crush is diagnosed wit...,2018-09-01,6.9234,8.240
9,572154,青春ブタ野郎はゆめみる少女の夢を見ない,"In Fujisawa, Sakuta Azusagawa is in his second...",2019-06-15,3.5612,8.239
10,299534,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019-04-24,44.5525,8.239
11,447362,Life in a Year,A 17 year old finds out that his girlfriend is...,2020-11-27,6.0576,8.200
12,527641,Five Feet Apart,Seventeen-year-old Stella spends most of her t...,2019-03-14,7.7891,8.236
13,508965,Klaus,When Jesper distinguishes himself as the Posta...,2019-11-08,4.5251,8.236
14,299536,Avengers: Infinity War,As the Avengers and their allies have continue...,2018-04-25,85.6502,8.236
15,25237,Иди и смотри,The invasion of a village in Byelorussia by Ge...,1985-10-17,5.9200,8.234
16,490132,Green Book,"Tony Lip, a bouncer in 1962, is hired to drive...",2018-11-16,11.0561,8.231
17,265177,Mommy,A peculiar neighbor offers hope to a recent wi...,2014-09-19,2.3940,8.229
18,603,The Matrix,"Set in the 22nd century, The Matrix tells the ...",1999-03-31,23.2293,8.226
19,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25,5.4017,8.225

In [7]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [14]:
for i in range(1,200):
  response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=2bb5886665dbdb01f1f6fd2a48efeb1f&language=en-US&page={}".format(i))
  temp = pd.DataFrame(response.json()['results'])[['id','original_title','overview','release_date','popularity','vote_average']]
  df = pd.concat([df, temp], ignore_index=True)

In [16]:
df.shape

(15520, 6)

In [17]:
df.to_csv('movies.csv')